{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Платежи</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- JQuery -->
    <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select2 CSS -->
    {{ form.media.css }}
</head>
<body>
    <div class="container">
        {% if messages %}
            <div class="row justify-content-center align-items-center mt-2 mb-2">
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center align-items-center mt-4 mb-4">
            <div class="col-lg-6">
                {% include 'pay_form.html' %}
            </div>
        </div>
        <div class="row justify-content-center m-2">
            <div class="col-12 text-center">
                <a href="{% url 'create_users' %}" id='btn' class="btn btn-outline-info btn-lg active">Создать 10 пользователей</a>
            </div>
        </div>
    </div>
    {{ form.media.js }}
</body>
</html>