{% load widget_tweaks %}
{% for e in form.non_field_errors %}
    <div class="alert alert-danger" role="alert"> {{ e }} </div>
{% endfor %}
<form method="post" action="{% url 'formsubmit' %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="Inn">{{ field.label }}</label>
            {% render_field field class="form-control" placeholder=field.label style="width:100%" %}
            <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors.as_text }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Отправить деньги</button>
    </div>
</form>